<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="utf-8" />
        <title>MEJ Drone language | ITESO</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        {% csrf_token %}
    </head>

    <body>
    {% block content %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% if js %}
        {% for script in js %}
        <script src="{% static script %}" type="text/javascript"></script>
        {% endfor %}
    {% endif %}
    </body>

</html>