{% extends "layout/app.html" %}

{% block content %}
<div class="portlet light">
	<div class="portlet-title">
		<div class="caption">
			<span class="caption-subject font-dark bold uppercase">Parser supplies</span>
		</div>
		<div class="tools"></div>
	</div>
	<div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="/uploadGrammophone" class="form-horizontal form-bordered" method="post">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-3">Default1</label>
                    <div class="col-md-3">
                        <div class="fileinput fileinput-new" data-provides="fileinput" data-name="grammophone">
                        	<input type="hidden" name="grammophone" value="1" />
                            <div class="input-group input-large">
                                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                    <span class="fileinput-filename"> </span>
                                </div>
                                <span class="input-group-addon btn default btn-file">
                                    <span class="fileinput-new"> Select file </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" name="..."> </span>
                                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                	<button class="btn blue btn-outline">Parse grammar</button>
                	<button class="btn green btn-outline">Generate matrix</button>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <a href="javascript:;" class="btn green">
                            <i class="fa fa-check"></i> Submit</a>
                        <a href="javascript:;" class="btn btn-outline grey-salsa">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
{% endblock %}